body{
    background-color:rgb(210, 250, 210);
    font-family: 'Gloria Hallelujah', cursive;
}
.escribinos{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-top: 100px;
    margin-bottom: 60px;
    animation: cssAnimation_0 3000ms 6 ease-in-out 3000ms;
            @keyframes cssAnimation_0 {
            to {
                font-size: 34px;
                font-weight: bolder;
                line-height: 1.2;
                letter-spacing: 6px;
                }
            }
            h2{
                font-size: 3rem;
            }
}
.dudas{
      display: flex;
      justify-content: center;
}
.formulario{
    display: flex;
    justify-content: center;
}