.flexycent{
    display: flex;
    justify-content: center;
}
@mixin justify($display,$justify) {
    display: $display;
    justify-content: $justify;
}
footer{
    background-color: white;
    height: 450px;
    padding-top: auto;
    margin-top: -20px;
    margin-right: -23px;
    margin-bottom: -6px;
    margin-left: -6px;
    .redes{
        @extend .flexycent;
        padding-left: 0px;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        h3{
            font-size: 30px;
            margin-top: 10px;
        }
    }
    .leyenda{
        @extend .flexycent;
        p{
            font-size: 25px;

        }
    }
    .redesfooter{
        @include justify(flex,space-around);
        .redes2{
            list-style-type: none;
            text-decoration: none;
            justify-items: center;
            font-size: 25px;
        }
        .redes3{
            list-style-type: none;
            text-decoration: none;
            justify-items: center;
            font-size: 25px;
        }
    }
    .tit-pagos{
        @extend .flexycent;
        .medios-pago{
            font-size: 30px;
        }
    }
    .tarjetas{
        @include justify(flex,space-evenly);
        font-size: 20px;
        font
        .pago-visa{
            font-size: 22px;
        }
        .pago-master{
            font-size: 22px;
        }
    }
}