.sobre{
    display: flex;
    justify-content: center;
    margin-top: 250px;
        .about-us{
            display: flex;
            justify-items: center;
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 3rem;
        }
}
.sobreNos{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.nuestraUbi{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-bottom: 20px ;
        .ubicacion{
            display: flex;
            justify-items: center;
        }
}
.ubic{
    display: flex;
    justify-content: space-around;
        .mapa{
            padding-bottom: 20px;
            display: flex;
        }
        .direc{
            display: block;
            justify-content: center;
            margin-top: 70px;
            margin-right: 50px;
                .direccion{
                    display: flex;
                    justify-items: flex-start;
                    font-size: 20px;
                }
                .partido{
                    display: flex;
                    justify-items: flex-start;
                    font-size: 20px;
                }
        }
}